<!-- Introduction Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Health Tech Startup
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <br>
      <div class="row">
        <div class="col-md-6 section-subtitle">
          <p>BallyCara's award-winning Hibernian Aged Care Facility building is located in Scarborough and offers a safe and friendly environment with a unique living community by the waters of Moreton Bay. We are committed to providing the best in class aged care services. </p>
          <p>BallyCara has focussed on improving healthcare with technology. We have developed a bespoke aged care management software to improve our standard of care. BallyCara understands if we can complete administration tasks more efficiently, we can focus our attention on the quality of care. </p>
          <p>Aged Care software is too often focussed on financial data and forgets about the person. We wanted to create a software focussed on the goals, needs, and interests of the person. A system focused on improving quality of care and not cutting costs. </p>
        </div>
        <div class="col-md-6">
          <br>
          <%= image_tag 'tech.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Introduction Section End -->
