<!-- Start Pricing Table Section -->
<section class="section bg-white-liac">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing Table</h2>
      <hr class="lines">
    </div>

    <div class="row pricing-tables">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Free</h2>
            <span>$0</span>
            <ul>
              <li>Less than 10 residents</li>
              <li>* Per resident per month</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Popular</h2>
            <span>$20</span>
            <ul>
              <li>Less than 100 residents</li>
              <li>* Per resident per month</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Premium</h2>
            <span>$15</span>
            <ul>
              <li>More than 100 residents</li>
              <li>* Per resident per month</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Sign Up</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
