<div class="jumbotron hero-background">
  <div class="col-lg-8 col-md-12 col-12">
    <h1 class="display-2 hero-heading">Template App</h1>
    <p class="lead hero-subheading">
      A template web application.
    </p>
  </div>
</div>
